# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=clothify
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123123

# JWT
JWT_SECRET=secret_ecom

# Admin seed
ADMIN_EMAIL=admin@clothify.com
ADMIN_NAME=Clothify Admin
ADMIN_PASSWORD=Admin@123
